name: Automation Testing

on:
  schedule:
    - cron:  '00 23 * * 1-5'
  
jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: npm cache
      uses: actions/cache@v2
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-modules-${{ hashFiles('**/lock.json') }}
    - name: Installing
      run: npm install
    - name: Create folder reports
      run: mkdir reports
    - name: Running Test
      run: npm run test
    - name: Reporting
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: Reports
        path: reports
